<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="OpenRouter_ApiKey" value="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"/>
    <add key="TMDB_ApiKey" value="f791bbd6466d4defb78854d86fc167f7"/>
    <add key="ModelName" value="deepseek/deepseek-chat-v3-0324:free"/>
  </appSettings>
</configuration>